@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #8a8d91;
}

h1, h2{
    text-align: center;
    color: #000;
}

p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul li {
    text-align: center;
    margin-top: 5px;
}


strong {
    color:#515457;
}

a {
    text-decoration: none;
    color:#515457!important;
    font-weight: bold;
    margin-left: 20px;
    padding: 0 5px;
    border-bottom: 1px solid #f57c00;
}
                

img {
    position: relative;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.3);
}

.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1024px;
    text-align: center;
}

.habilities {
    width: 100%;
    background-color: #EEE;
    border-bottom: 20px;
}

.habilities h1 {
    padding-top: 20px;
}  

.habilities ul {
    padding: 30px;
    list-style: none;
    

}

.habilities ul li {
    display:inline;
    margin-left: 20px;
}

.habilities ul li:first-child{
    margin-left: 0;
}

.fa-js, .fa-html5, .fa-css3-alt, .fa-database, .fa-php {
    font-size: 100px;
}

.fa-js {
    color: #f9a825!important;
}


.fa-html5 {
    color: #f57c00;
}

.fa-css3-alt {
    color: #0277bd;
}

.fa-database {
    color: #388e3c;
}

.fa-php {
    color: #512da8;
}

.fa-github-square {
    color: #000;
}

.fa-linkedin {
    color: #0277B5;
}

.fa-instagram-square {
    color: #311b92;
}

.social h1 {
    margin-bottom: 20px;
}

#blogs_link{
    margin-top: 20px;
}


#name {
    color: #000;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

#info {
    color: #8a8d91;
}


#photo, 
.blogs {
    
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

