@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #eaeaea;
    color: #893168;
}

h1, h2{
    text-align: center;
    color: #4a1942;
}

p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul li {
    text-align: center;
    margin-top: 5px;
}


strong {
    color:#893168;
}

a {
    text-decoration: none;
    color:#4a1942!important;
    font-weight: bold;
    margin-left: 20px;
    padding: 0 5px;
}
              

.my-photo {
    position: relative;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.3);
}


.container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1024px;
    text-align: center;
}

.habilities {
    width: 100%;
    background-color: #CCC;
    border-bottom: 20px;
}

.habilities img {
    max-width: 200px;
    box-shadow: none;
}

.hability {
    padding: 30px;
    width: 150px;
    margin-right: 10px;
    float: left;
    background-color: #FFF;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.hability li:last-child {
    margin-bottom: 5px;
    margin-right: none;
}

.habilities h1 {
    padding-top: 20px;
}  

.habilities ul {
    padding: 30px;
    list-style: none;
    display: inline-block;
}
/* 
.habilities ul li {
    display:inline;
} */

.habilities ul li:first-child{
    margin-left: 0;
}

.fa-js, .fa-html5, .fa-css3-alt, .fa-database, .fa-php {
    font-size: 100px;
}

.fa-js {
    color: #f9a825!important;
}


.fa-html5 {
    color: #f57c00;
}

.fa-css3-alt {
    color: #0277bd;
}

.fa-database {
    color: #388e3c;
}

.fa-php {
    margin-left: -15px;
    color: #512da8;
}

.fa-github-square {
    color: #000;
}

.fa-linkedin {
    color: #0277B5;
}

.fa-instagram-square {
    color: #311b92;
}

.fa-heart {
    color: #b71c1c;
}

.fa-check-circle {
    color: #388e3c;
}

.fa-grin-beam-sweat {
    color: #0277B5; 
}

.fa-rocket {
    color: #4a1942; 
}

.fa-user {
    color: #4a1942;
}

.social {
    width: 100%;
    height: 120px;
    background-color: #050404;
    color:#eaeaea;
    text-align: center;
}


.social h1, .social a {
    padding: 20px 0;
}

.social h1, .social a, .social i {
    color: #eaeaea!important;
}


#blogs_link{
    margin-top: 20px;
}

.blogs {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

