@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #8a8d91;
}

h1, h2{
    text-align: center;
    color: #000;
}

p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul li {
    text-align: center;
    margin-top: 5px;
}


strong {
    color:#515457;
}

a {
    color:#515457!important;
    font-weight: bold;
}

img {
    position: relative;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    -webkit-box-shadow: 10px 10px 174px -28px rgba(0,0,0,0.28);
    -moz-box-shadow: 10px 10px 174px -28px rgba(0,0,0,0.28);
    box-shadow: 10px 10px 174px -28px rgba(0,0,0,0.28);
    margin-top: 40px;
    margin-bottom: 20px;
}

#name {
    color: #000;
    margin-top: 40px;
    margin-bottom: 20px;
}

#info {
    color: #8a8d91;
}

#photo, 
.blogs {
    
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
